
body {background-color: coral;}

h1 
{
	margin-left:8%; 
	font-family:"Calibri", sans-serif;
}
 
#output 
{ 
	width:40%;
	height:100px;
	margin-right:8%;
}
#input 
{ 
	width:40%;
	height:100px;
	margin-left:8%;
	margin-right:2%;
}
#shift-amount 
{ 
	width:5%;
	margin-left:8%;
	margin-top:1%;
}
#calculate
{
	margin-top:1%;
	margin-left:8%;
}
.text
{
	margin-left:1%;
	font-weight: bold;
	font-family:"Calibri", sans-serif;
}